[submodule "dotfiles/nvim/nvim"]
	path = dotfiles/nvim/nvim
	url = git@github.com:atanasormanow/LazyVim.git
[submodule "dotfiles/wallpapers/Wallpapers"]
	path = dotfiles/wallpapers/Wallpapers
	url = git@github.com:atanasormanow/wallpapers.git
