[submodule "dotfiles/LazyVim/nvim"]
	path = dotfiles/LazyVim/nvim
	url = git@github.com:atanasormanow/LazyVim.git
[submodule "dotfiles/wallpapers/Wallpapers"]
	path = dotfiles/wallpapers/Wallpapers
	url = git@github.com:atanasormanow/wallpapers.git
