/*-----------------
    Temperature
-----------------*/

#custom-left_div.2 {
	color: @temperature;
}
#temperature {
	background-color: @temperature;
}

/*------------
    Memory
------------*/

#custom-left_div.3 {
	background-color: @temperature;
	color: @memory;
}
#memory {
	background-color: @memory;
}

/*---------
    CPU
---------*/

#custom-left_div.4 {
	background-color: @memory;
	color: @cpu;
}
#cpu {
	background-color: @cpu;
}
#custom-left_inv.1 {
	color: @cpu;
}

/*-----------------
    Distro icon
-----------------*/

#custom-left_div.5,
#custom-right_div.2 {
	color: @accent;
}
#custom-distro {
	padding: 0 10px 0 5px;
	background-color: @accent;
	color: @main-bg;
}

/*------------
    Volume
------------*/

#custom-right_inv.1 {
	color: @volume;
}
#pulseaudio {
	background-color: @volume;
}
#custom-right_div.3 {
	background-color: @backlight;
	color: @volume;
}

/*----------------
    Brightness
----------------*/

#backlight {
  padding-left: 2px;
	background-color: @backlight;
}
#custom-right_div.4 {
	background-color: @tray;
	color: @backlight;
}

/*-----------------
    System tray
-----------------*/

#custom-monitors {
	background-color: @tray;
	padding: 0 5px 0 10px;
}
#network {
	background-color: @tray;
	padding: 0 5px 0 4px;
}
#bluetooth {
	background-color: @tray;
	padding: 0 5px 0 0px;
}
#custom-right_div.5 {
	color: @tray;
}
