/*----------------
    Language
----------------*/

#language {
	padding-right: 10px;
	margin-bottom: 0px;
	color: @hover-fg;
	font-weight: bold;
	border-right: 2px solid @main-br;
}

/*----------------
    Workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 2px;
	background-color: @workspaces;
}
#workspaces button {
	padding: 0 6px;
}
#workspaces button.active,
#workspaces button.focused {
	background-color: @accent;
	color: @main-bg;
	border: 2px solid @accent;
	border-radius: 0;
}
#workspaces button.active label,
#workspaces button.focused label {
	color: @main-bg;
}


/*-----------
    Tray
-----------*/
#tray {
  margin-left: 10px;
}

