/*----------
    Time
----------*/

#custom-left_div.6 {
	color: @time;
}
#clock.time {
	background-color: @time;
}

/*-------------
    Battery
-------------*/

#custom-left_div.7 {
	background-color: @time;
	color: @battery;
}
#battery {
	background-color: @battery;
}
#custom-left_inv.2 {
	color: @battery;
}

/*----------------
    Power menu
----------------*/

#custom-power {
	padding: 0 8px 5px 8px;
	color: @accent;
}
#custom-power:hover {
	background-color: @hover-bg;
}
