/*----------------
    Media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*----------
    Date
----------*/

#custom-left_div.6 {
	color: @date;
}
#clock.date {
	padding-right: 6px;
	background-color: @date;
}

/*----------
    Time
----------*/

#custom-left_div.7 {
	background-color: @date;
	color: @time;
}
#clock.time {
	padding-left: 6px;
	background-color: @time;
}

/*-------------
    Battery
-------------*/

#custom-left_div.8 {
	background-color: @time;
	color: @battery;
}
#battery {
	background-color: @battery;
}
#custom-left_inv.2 {
	color: @battery;
}

/*----------------
    Power menu
----------------*/

#custom-power {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
#custom-power:hover {
	background-color: @hover-bg;
}
